layout {

    focus-ring {
        active-color   "#f4b2e3"
        inactive-color "#181216"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f4b2e3"
        inactive-color "#181216"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f4b2e3"
        inactive-color "#67355e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f4b2e380"
    }
}

recent-windows {
    highlight {
        active-color "#f4b2e3"
        urgent-color "#ffb4ab"
    }
}
