    prefer-no-csd
    
    screenshot-path "~/Imagens/Captura de Tela/Captura de Tela de %Y-%m-%d %H-%M-%S.png"

    environment {
        XCURSOR_THEME "macOS"
        XCURSOR_SIZE "28"
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
        QT_QPA_PLATFORMTHEME "qt6ct"
        SSH_AUTH_SOCK "/run/user/1000/gcr/ssh"
    }
    
    cursor {
        xcursor-theme "macOS"
        xcursor-size 28
        hide-after-inactive-ms 5000
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
    
    blur {
       passes 2        // more passes = stronger blur (default: 3)
       offset 3.0      // sample distance per pass (default: 3.0)
       noise 0.03      // grain overlay (default: 0.02)
       saturation 1.0  // color saturation boost (default: 1.5)
    }
